@{
    ViewData["Title"] = "Kurumsal";
}
@section _pageStyles {
    <style>
        .d-none {
            display: none;
        }
    </style>
}

<div class="wrapper-boxed">

    <div class="header-inner-tmargin">
        <section class="section-side-image clearfix">
            <div class="img-holder col-md-12 col-sm-12 col-xs-12">
                <div class="background-imgholder" style="background:url(http://via.placeholder.com/1500x1000);"><img class="nodisplay-image" src="http://via.placeholder.com/1500x1000" alt="" /> </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix nopadding">
                        <div class="header-inner">
                            <div class="overlay">
                                <div class="text text-center">
                                    <h3 class="uppercase text-white less-mar-1 title">Kurumsal</h3>
                                    <h6 class="uppercase text-white sub-title">Urgan Kardeşler</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class=" clearfix"></div>
        <!--end section-->
    </div>
    <div class="clearfix"></div>
    <!--end header inner-->

    <section class="sec-padding section-light section-pattren-32">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sec-title-container text-center">
                        <h5 class="font-weight-4 less-mar-1 line-height-4 text-primary">About Our Company</h5>
                        <h2 class="font-weight-6 less-mar-1 line-height-5">What We Do for Business </h2>
                        <div class="ce-title-line"></div>
                        <h6 class="ce-sub-text raleway">Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet ligula Etiam .</h6>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!--end title-->

                <div class="col-md-4">
                    <div class="ce-feature-box-53 text-left margin-bottom">
                        <div class="img-box">
                            <div class="overlay"></div>
                            <img src="http://via.placeholder.com/800x700" alt="" class="img-responsive" />
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="text-box no-border">
                            <h5 class="title font-weight-5">Hakkımızda</h5>
                            <p>Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus Curabitur.</p>
                            <br />
                            <br />
                            <a class="btn btn-prim btn-round read-more-btn btn-medium uppercase" id="AboutUs"><i class="fa fa-play-circle" aria-hidden="true"></i> Okumaya Devam Et!</a>
                        </div>
                    </div>
                </div>
                <!--end item-->

                <div class="col-md-4">
                    <div class="ce-feature-box-53 text-left margin-bottom">
                        <div class="img-box">
                            <div class="overlay"></div>
                            <img src="http://via.placeholder.com/800x700" alt="" class="img-responsive" />
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="text-box no-border">
                            <h5 class="title font-weight-5">Misyon</h5>
                            <p>Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus Curabitur.</p>
                            <br />
                            <br />
                            <a class="btn btn-prim btn-round read-more-btn btn-medium uppercase" id="Mission"><i class="fa fa-play-circle" aria-hidden="true"></i> Okumaya Devam Et!</a>
                        </div>
                    </div>
                </div>
                <!--end item-->

                <div class="col-md-4">
                    <div class="ce-feature-box-53 text-left margin-bottom">
                        <div class="img-box">
                            <div class="overlay"></div>
                            <img src="http://via.placeholder.com/800x700" alt="" class="img-responsive" />
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="text-box no-border">
                            <h5 class="title font-weight-5">Vizyon</h5>
                            <p>Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus Curabitur.</p>
                            <br />
                            <br />
                            <a class="btn btn-prim btn-round read-more-btn btn-medium uppercase" id="Vision"><i class="fa fa-play-circle" aria-hidden="true"></i> Okumaya Devam Et!</a>
                        </div>
                    </div>
                </div>
                <!--end item-->

            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->


    <section id="read-more-section" class="sec-padding  d-none section-dark">
        <div class="container-fluid">
            <div class="row">

                <div class="container sec-tpadding-3 sec-bpadding-3">
                    <div class="row">

                        <div class="col-md-8 col-centered text-center">
                            <h3 class="uppercase font-weight-5 text-white" id="AboutSectionTitle">Section with dark</h3>
                            <p class="text-white" id="AboutSectionArticle">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci.Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci. </p>
                        </div>
                    </div>
                </div>
                <!--end item-->
            </div>
        </div>
    </section>
    <div class=" clearfix"></div>
    <!-- end section -->

    <div class="parallax vertical-align" data-parallax-bg-image="http://via.placeholder.com/2000x1300" data-parallax-speed="0.9" data-parallax-direction="down">
        <div class="parallax-overlay bg-opacity-8">
            <div class="container sec-tpadding-2 sec-bpadding-2">
                <div class="row">

                    <div class="col-md-12 text-center">


                        <div class="col-sm-12">
                            <div class="sec-title-container less-padding-1 text-center">
                                <h5 class="font-weight-4 less-mar-1 line-height-4 text-primary">We are offring best Services</h5>
                                <h2 class="font-weight-6 less-mar-1 line-height-5 text-white">
                                    We offer best Services
                                    for your Business and Get unlimited Features and many more Features
                                </h2>
                                <div class="ce-title-line"></div>
                                <br />

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--end title-->

                    </div>
                    <!--end item-->

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- end section -->




</div>


@section _pageScripts{
    <script>
        $(document).ready(function () {
            var btn = $(".read-more-btn");
            btn.click(function () {
                triggerId = this.id;
                console.log(triggerId)
                $.get("/Corporate/GetTitleAndArticle", { title: triggerId })
                    .done( function (data) {
                        var section = $("#read-more-section");
                        if (section.hasClass("d-none")) {
                            section.show("slow");
                            setTimeout(() => { section.removeClass("d-none") }, 1500)
                        };
                        console.log(data);
                        $("#AboutSectionArticle").html(data.article);
                        $("#AboutSectionTitle").html(data.displayTitle);
                    })
                    .fail(function () {
                        alert("Veri getirilirken bir hata oluştu!");
                    })
            })
        })
    </script>
}