
            <div class="col-md-12 nopadding bg-cyan">
                <div class="header-section white style1 white pin-style">
                    <div class="container">
                        <div class="mod-menu">
                            <div class="row">
                                <div class="col-sm-2"> <a asp-action="Index" asp-controller="Home" title="" class="logo mar-4"> <img src="~/images/logo/logoyeni.png" alt=""> </a> </div>
                                <div class="col-sm-10">
                                    <div class="main-nav">
                                        <ul class="nav navbar-nav top-nav">
                                            <li class="search-parent">
                                                <a href="javascript:void(0)" title=""><i aria-hidden="true" class="fa fa-search"></i></a>
                                                <div class="search-box">
                                                    <div class="content">
                                                       <form method="post" asp-action="Index" asp-controller="Blog">
                                                            <div class="form-control">
                                                    <input type="text" name="searchString" id="searchString" placeholder="Blog Ara" />
                                                   <button type="submit" class="search-btn" ><i aria-hidden="true" class="fa fa-search"></i></button>
                                                        </div>
                                                         <a href="#" class="close-btn">x</a>
                                                       </form>
                                                    </div>
                                                </div>
                                            </li>
                                            </ul>
                                        <div id="menu" class="collapse">
                                            <ul class="nav navbar-nav">
                                                <li class="right">
                                                    <a asp-action="index" asp-controller="Home">Home</a>
                                                </li>
                                                <li class="right">
                                                    <a asp-action="index" asp-controller="Corporate" >Kurumsal</a> <span class="arrow"></span>
                                                </li>
                                                <li>
                                                    <a asp-action="Contact" asp-controller="Home">İLETİŞİM</a> <span class="arrow"></span>
                                                </li>
                                               @* <li class="right">
                                                    <a href="portfolio-full-width.html">Portfolio</a> <span class="arrow"></span>
                                                    <ul>
                                                        <li>
                                                            <a href="#" title="home samples">Portfolio columns</a> <span class="arrow"></span>
                                                            <ul>
                                                                <li> <a href="portfolio-1-columns.html"><i class="fa fa-angle-right"></i> &nbsp; One Column</a> </li>
                                                                <li> <a href="portfolio-2-columns.html"><i class="fa fa-angle-right"></i> &nbsp; Two Column</a> </li>
                                                                <li> <a href="portfolio-3-columns.html"><i class="fa fa-angle-right"></i> &nbsp; Three Column</a> </li>
                                                                <li> <a href="portfolio-4-columns.html"><i class="fa fa-angle-right"></i> &nbsp; Four Column</a> </li>
                                                                <li> <a href="portfolio-5-columns.html"><i class="fa fa-angle-right"></i> &nbsp; Five Column</a> </li>
                                                                <li> <a href="portfolio-6-columns.html"><i class="fa fa-angle-right"></i> &nbsp; Six Column</a> </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>*@
                                                <li class="right">
                                                    <a asp-action="Index" asp-controller="Blog" >Blog</a> <span class="arrow"></span>
                                                    
                                                </li>
                                                <li class="right">
                                                    <a href="#">Shop</a> <span class="arrow"></span>
                                                   
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end menu-->

            </div>
